# 1) What is natural language processing?

Natural Language Processing is the field of computer science that deals with machine processing of human languages. It is an interdisciplinary field that combines artificial intelligence and linguistics in computer science. Natural Language Processing allows machines to interpret and generate human language in written or spoken form. It enables various applications including chatbots, voice assistants, translation software etc.

# 2) Explain the different data types with examples.

The different data types in python are as follows:

*   int: Stores positive and negative whole numbers without decimal point.

*   float: Stores floating point numbers or numbers with a decimal point

*   str: Stands for 'string', that stores text or sequences of characters. Strings are enclosed in single or double quotes.

*   list: Ordered and mutable collection enclosed in square brackets that can contain heterogeneous data types.

*   tuple: Ordered but immutable collection of items enclosed in parentheses that can also store heterogeneous data types.

*   set: Unordered collections of unique, mutable items enclosed in curly braces. Duplicate items are removed automatically.

*   dict: Unordered collection of key-value pairs enclosed in curly brackets. Keys must be unique but values need not be.

*   bool: Represent truth values of 'True' or 'False'.

In [2]:
#Examples:

# int
_int = 1

# float
_float = 4.5

# str
_str = "India"

# list
_list = [1, 2.0, "hello", True, "world", [6, 2], 0]

# tuple
_tuple = (1, 2, 3, 4, 5)

#set
_set = {56, 23, 64, 87}

#dictionary
_dict = {'name': 'John Smith', 'age': 45}

#bool
_bool = True

# 3) Explain different python operators with examples?

The different python operators are as follows:

**Arithmetic Operators**
*   '+' : Addition
*   '-' : Subtraction
*   '*' : Multiplication
*   '/' : Division (returns float)
*   '//' : Floor division (returns integer result)
*   '%' : Modulus (returns remainder of division)
*   '**' : Exponentiation

In [3]:
a = 7
b = 4

#Addition
print("a + b =", a+b)

#Subtraction
print("a - b =", a-b)

#Multiplication
print("a * b =", a*b)

#Division
print("a / b =", a/b)

#Floor division
print("a // b =", a//b)

#Modulus
print("a % b =", a%b)

a + b = 11
a - b = 3
a * b = 28
a / b = 1.75
a // b = 1
a % b = 3

**Comparison Operators** (returns bool):
*   '==' : Equal to
*   '!=' : Not equal to
*   '>' : Greater than
*   '<' : Less than
*   '>=' : Greater than or equal to
*   '<=' : Less than or equal to

In [1]:
a = 7
b = 4

# Equal to
print("a == b =", a == b)

# Not equal to
print("a != b =", a != b)

# Greater than
print("a > b =", a > b)

# Less than
print("a < b =", a < b)

# Greater than or equal to
print("a >= b =", a >= b)

# Less than or equal to
print("a <= b =", a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

Logical Operators:
*   'and' : Returns True if both conditions are true
*   'or' : Returns True if at least one condition is true
*   'not' : Reverses the result of the condition

In [4]:
a = 7
b = 4

# Logical AND
print("a and b =", a and b)

# Logical OR
print("a or b =", a or b)

# Logical NOT
print("not a =", not a)

a and b = 4
a or b = 7
not a = False

Assignment Operators:
*   '=' : Assign value
*   '+=' : Add and assign
*   '-=' : Subtract and assign
*   '*=' : Multiply and assign
*   '/=' : Divide and assign

In [5]:
#Assignment
a = 7
b = 3

#Add and assign
b += a
print(b)

# Subtract and assign
b -= a
print(b)

# Multiply and assign
b *= a
print(b)

# Divide and assign
b /= a
print(b)

10
3
21
3.0

Membership Operators:
*   'in' : Returns True if value is present in the sequence
*   'not in' : Returns True if value is not present in the sequence

In [6]:
lst = [1, 2, 3, 4, 5]
a = 7
b = 4

# Membership check
print("b in list =", b in lst)
print("a not in list =", a not in lst)

b in list = True
a not in list = True

Identity Operators:
*   'is' : Returns True if both variables point to the same object
*   'is not' : Returns True if both variables do not point to the same object

In [7]:
a = 7
b = 4
c = 7

# is
print("a is c =", a is c)

# is not
print("a is not b =", a is not b)

a is c = True
a is not b = True

# 4) What is a list and give examples for its different methods?

A list in Python is a mutable, ordered collection of elements that can hold any data type, including other lists.

They are defined using square brackets and elements are separated by commas.

In [8]:
lst = [1, 2.0, "India", True, {5, 76}]

Methods include:


*   append(): Adds a single element at the end of the list.
*   extend(): Adds elements of another iterable to the list.
*   insert(): Inserts element at a specific position.
*   remove(): Removes first occurrence of specified value.
*   pop(): Removes and returns item at a given index.
*   count(): Returns number of occurrences of a value.
*   sort(): Sorts the list. Only if the items are comparable.
*   reverse(): Reverses the elements of the list.

In [9]:
lst = [6, 7, 234, 87, 5, 88, 23, 72]

# append()
lst.append(45)
print("appended list:", lst)

# extend()
lst.extend([94, 48])
print("extended list:", lst)

# insert()
lst.insert(2, 73)
print("list after insertion:", lst)

# remove()
lst.remove(234)
print("list after removal:", lst)

# pop()
removed = lst.pop(3)
print("list after pop:", lst)
print("popped item:", removed)

# count()
count = lst.count(88)
print("count of 88 in list:", count)

# sort()
lst.sort()
print("sorted list:", lst)

# reverse()
lst.reverse()
print("reversed list:", lst)

appended list: [6, 7, 234, 87, 5, 88, 23, 72, 45]
extended list: [6, 7, 234, 87, 5, 88, 23, 72, 45, 94, 48]
list after insertion: [6, 7, 73, 234, 87, 5, 88, 23, 72, 45, 94, 48]
list after removal: [6, 7, 73, 87, 5, 88, 23, 72, 45, 94, 48]
list after pop: [6, 7, 73, 5, 88, 23, 72, 45, 94, 48]
popped item: 87
count of 88 in list: 1
sorted list: [5, 6, 7, 23, 45, 48, 72, 73, 88, 94]
reversed list: [94, 88, 73, 72, 48, 45, 23, 7, 6, 5]

# 5) Explain string and its methods with examples?

The following are some of the most common string methods:

*   lower(): Converts all characters to lowercase
*   upper(): Converts all characters to uppercase
*   capitalize(): Capitalizes the first character of the string
*   title(): Capitalizes the first character of each word
*   strip(): Removes leading and trailing whitespace
*   replace(old, new): Replaces all occurrences of a substring with another
*   find(sub): Returns the index of the first occurrence of a substring
*   rfind(sub): Returns the index of the last occurrence of a substring
*   count(sub): Counts the number of times a substring occurs
*   split(sep): Splits the string into a list using the specified separator
*   join(iterable): Joins elements of an iterable into a string using the current string as a separator
*   isalpha(): Returns True if all characters are alphabetic
*   isdigit(): Returns True if all characters are digits
*   isalnum(): Returns True if all characters are alphanumeric
*   isspace(): Returns True if all characters are whitespace
*   index(sub): Returns the index of the first occurrence of a substring, raises an error if not found
*   rindex(sub): Returns the index of the last occurrence of a substring, raises an error if not found

In [10]:
# lower
string = "Hello, World"
string = string.lower()
print("Lowercase string:", string)

# upper
string = "Hello, World"
string = string.upper()
print("Uppercase string:", string)

# capitalize
string = "hello, world"
string = string.capitalize()
print("Capitalised string:", string)

# title
string = "hello, world"
string = string.title()
print("Title case string:", string)

# strip
string = "   Hello, World   "
string = string.strip()
print("Stripped string:", string)

# replace
string = "Hello, World"
string = string.replace("World", "Guys")
print("Replaced string:", string)

# find
string = "Hello, World"
index = string.find("o")
print("Index of first 'o':", index)

# rfind
string = "Hello, World"
index = string.rfind("o")
print("Index of last 'o':", index)

# count
string = "Hello, World"
count = string.count("l")
print("Count of 'l':", count)

# split
string = "Hello, World"
split_list = string.split(", ")
print("Split list:", split_list)

# join
words = ["Hello", "World"]
joined = " ".join(words)
print("Joined string:", joined)

# isalpha
string = "HelloWorld"
print("Is alphabetic?", string.isalpha())

# isdigit
string = "12345"
print("Is digit?", string.isdigit())

# isalnum
string = "Hello123"
print("Is alphanumeric?", string.isalnum())

# isspace
string = "   "
print("Is whitespace?", string.isspace())

# index
string = "Hello, World"
index = string.index("o")
print("Index of first 'o':", index)

# rindex
string = "Hello, World"
index = string.rindex("o")
print("Index of last 'o':", index)

Lowercase string: hello, world
Uppercase string: HELLO, WORLD
Capitalised string: Hello, world
Title case string: Hello, World
Stripped string: Hello, World
Replaced string: Hello, Guys
Index of first 'o': 4
Index of last 'o': 8
Count of 'l': 3
Split list: ['Hello', 'World']
Joined string: Hello World
Is alphabetic? True
Is digit? True
Is alphanumeric? True
Is whitespace? True
Index of first 'o': 4
Index of last 'o': 8

# 6) What are conditional statements and explain them with examples?

Conditional statements are programming statements or constructs that execute certain blocks of code depending on  a condition being True or False. It is used to control the flow of the program.

Given below are the condition statements in python. Each of them can be nested within each other as well.

1.  if statement

Executes a block of code only if the condition is true.

In [ ]:
number = 20
if number > 0:
    print("This is a positive number.")

This is a positive number.

2. if-else statement

Executes one block if the condition is true, and another block if it is false.

In [ ]:
number = -2
if number > 0:
  print("This is a positive number.")
else:
  print("This is a negative number or 0.")

3. if-elif-else statement
Checks multiple conditions one by one. The first true condition's block gets executed.

In [ ]:
number = 0
if number > 0:
  print("This is a positive number.")
elif number < 0:
  print("This is a negative number.")
else:
  print("This number is 0.")

This number is 0.